* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: #047DB1;
}

body {
    background-color: var(--primary);

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 90%;
    max-width: 1500px;
    height: 90vh;

    background-color: white;

    display: flex;
}

.formulario {
    width: 35%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-title {
    position: relative;
    padding-bottom: 10px;
    padding-top: 40px;
    color: var(--primary);
    font-weight: bold;
    font-size: 25px;
}

.form-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 3px;
    background-color: var(--primary);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.linha {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    padding-left: 10px;
    color: #252525;
    font-weight: 300;
}

.input-line {
    border: 0;
    background-color: #f0f0f0;
    border-radius: 12px;
    width: 290px;
    height: 36px;
    padding-left: 10px;
    font-size: 15px;
}

.input-line:focus {
    outline: none;
}

.input-radio {
    display: flex;
    gap: 7px;
}

.radio {
    display: flex;
}

.radios {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

button {
    width: 120px;
    height: 45px;
    background-color: var(--primary);
    color: white;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

.botao-salvar:hover {
	background-color: rgb(211, 255, 211);
	color: rgb(40, 233, 40);
	border-color: rgb(40, 233, 40);
    transition: background-color 0.3s ease;
}

.botao-deletar:hover {
	background-color: rgb(255, 211, 211);
	color: rgb(233, 40, 40);
	border-color: rgb(233, 40, 40);
    transition: background-color 0.3s ease;
}

.botao-atualizar:hover, .botao-consultar:hover {
	background-color: rgb(144, 191, 252);
    transition: background-color 0.3s ease;
}

.inventario {
    width: 65%;
    background-image: linear-gradient(to right, #F7F7F7, #FFF);

    display: flex;
    flex-direction: column;
}

.infos-invent {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.title-invent {
    position: relative;
    padding-bottom: 10px;
    padding-top: 98px;
    color: var(--primary);
    font-weight: bold;
    font-size: 25px;
}

.title-invent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 223px;
    height: 3px;
    background-color: var(--primary);
}

.dados {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.dados-title {
    font-size: 16px;
    color: #808080;
    padding-bottom: 5px;
}

.dados-num {
    color: var(--primary);
    font-size: 25px;
    font-weight: bold;
}

table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px 20px 20px;
    color: #808080;
}

thead th {
    background-color:#047db128;
    padding: 13px;
    font-size: 15px;
}

tr {
    text-align: center;
    background-color: white;
}

td {
    padding: 10px;
}

.erro {
    color: red;
    font-size: 10px;
}